@import url(./reset.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");
@import url(./header.css);
@import url(./sectionGrid.css);
@import url(./footer.css);
@import url(./cart.css);
img {
  width: 100%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
--root {
  --primary-color: #45a049;
}
